<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="d-flex justify-content-center p-5">
    <div class="card" style="background-color: black;">
        <div class="card-body" style="color: white;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 p-3" style="overflow:hidden;">
                        <img src="/findjobs.png" alt="Photo" width="700" height="500" style="overflow:hidden;"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 p-3">
                        <a href="/team/gamehub" class="btn btn-outline-light btn-lg">Previous</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 p-3 d-flex justify-content-end">
                        <a href="/team/bookhunter" class="btn btn-outline-light btn-lg">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
