<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="d-flex justify-content-center p-5">
    <div class="card" style="background-color: black; height: 50vh;">
        <div class="card-body d-flex align-items-center" style="color: white;">
            <div class="container-fluid">
                <div class="row">
                    <h1 class="text-center">Introductory Example</h1>
                    <h2 class="text-center">Linking Views</h2>
                    <p class="text-center">Press the button below to view images!</p>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 p-3 d-flex justify-content-center">
                        <a href="/team/htmelodies" class="btn btn-outline-light btn-lg">View Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
